:root {
  --sidebar-width: 30%;
}

.accordion-item{
    font-style: italic;
}

#sidebar {
    position: absolute;
    top: 10%;
    height: 100%,
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    padding: 2rem 2rem;
    background-color: #f8f9fa;
}

#market-accordion, #player-accordion, .accordion-button{
    font-size: 1.15rem;
    text-align: justify;
    color: #2c8cff;
}

#my-chart{
    position:absolute;
    left: var(--sidebar-width);
    width: 70%;
    height: 100%;
    padding: 5rem;
}

.btn-accordion{
    background-color: #2c8cff;
    border-color: #2c8cff;
}