:root {
  --sidebar-width: 30%;
}

body{
  overflow-x:hidden;
  background-color: rgb(243, 243, 243);
}

.btn-accordion{
    background-color: #2c8cff;
    border-color: #2c8cff;
}

input[type=radio]{
    margin: 0.5rem;
}

.filter-p{
    margin: auto;
    font-weight: bold;
    padding-top: 1rem;
}

.rc-slider-track {
  background-color: #3B71CA;
}

.rc-slider-handle, .rc-slider-dot-active{
    border: solid 2px #3B71CA;
}

#market-accordion, #player-accordion{
    font-size: 1.15rem;
    text-align: justify;
    color: #2c8cff;
}

#navbar > *{
    align-items: center;
    justify-content:center;
    margin: 0.5rem;
}

#sidebar, #core{
    height: 100vh;
    padding: 2.5rem;
    display: block;
}

#sidebar{
    background-color: #E9ECEF;
}

#table-container{
    margin: auto;
    margin-top: 1rem
}

