/* -------------------------- Global variables -------------------------- */

:root {
  --font: system-ui;
  --color_body: #1F2833;
  --color_navbar: #1A1A1E;
  --color_title: #66FCF1;
  --color_subtitle: #E3E2DF;
  --color_text: #E3E2DF;
  --color_button: #45A29E;
}


/* ---------------------------- Main elements ---------------------------- */

body{
  overflow-x:hidden;
  background-color: var(--color_body);
}

#layout{
    padding: 0rem;
    margin: 0rem;
    overflow: auto;
    height: 100vh;
    overflow-x: hidden;
}

#main-content{
    overflow: auto
}


/* ---------------------------- Navbar ---------------------------- */

#navbar{
    margin: 0rem !important;
    background-color: var(--color_navbar) !important;
    border-bottom: solid 1px var(--color_button);
}

#navbar-img{
    margin-left: 3rem !important;
    width: 5rem;
}

#navbar-brand{
    font-family: var(--font);
    color: var(--color_subtitle);
    margin-left: 1rem;
}

#navbar > *{
    align-items: center;
    justify-content:center;
}


/* ---------------------------- Sidebar ---------------------------- */

#sidebar{
    height: auto;
    padding: 2.5rem;
    display: block;
}

#sidebar{
    background-color: var(--color_navbar);
}

#sidebar-title{
    color: var(--color_title);
}

#sidebar-suptitle{
    color: var(--color_subtitle)
}

#sidebar p{
    color: var(--color_text);
}


/* ----------------------------- Accordion ------------------------------ */

.accordion-body, .accordion-button{
  background-color: var(--color_navbar);
  color: var(--color_title);
}

.accordion-item {
  --bs-accordion-border-color: var(--color_body);
  background-color: #000;
}

.accordion-body{
    font-size: 1rem;
    text-align: justify;
    color: black;
}

.btn-accordion{
    background-color: var(--color_title);
    border-color: var(--color_title);
}


/* -------------------------------- Chart ------------------------------- */

#core{
    height: auto;
    padding: 2.5rem;
    display: block;
}

#chart-container{
    display: none;
}

#chart-filter{
    display: none;
}


/* -------------------------------- Table ------------------------------- */

#table-container{
    margin: auto;
    margin-top: 1rem;
    padding-bottom: 10rem;
    display: none;
}

#table-title, #lastseason-radio{
    color: var(--color_subtitle);
}

.filter-title{
    color: var(--color_text);
    text-align: center;
    margin: 1rem;
    font-weight: 500;
}

#table-filter{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.table-filter-title{
    margin: auto;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5rem;

}

#table-filter-position{
    float: left;
}

#table-filter-price{
    float: right;
}


/* ---------------------------- Scoreboard  ---------------------------- */

#scoreboard-container{
    display: none;
    margin: 1rem;
}

#scoreboard-title{
    color: var(--color_subtitle);
}

/* --------------------------------- Modal -------------------------------- */

.modal-content{
    background-color: var(--color_body);
    color: white;
}

#modal-title, #modal-btn{
    margin: auto;
}

#modal-text{
    text-align: center;
}


/* ---------------------------- Other elements ---------------------------- */

.btn{
    margin: 0.5rem;
    background-color: var(--color_button) !important;
    border-color: var(--color_button) !important;
}

.rc-slider-track {
  background-color: var(--color_title);
}

.rc-slider-handle, .rc-slider-dot-active{
    border: solid 2px var(--color_title);
}

h5{
    text-align: center;
    margin: 1rem;
}

.input-group-text{
    background-color: var(--color_navbar);
    border-color: var(--color_button);
    color: var(--color_text);
    border: solid 1px var(--color_title);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}

input[type=text], input[type=password]{
    background-color: var(--color_body);
    border-color: var(--color_button);
    color: var(--color_text);
    border: solid 1px var(--color_title);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}

input[type=radio]{
    margin: 0.5rem;
}
